.header {
  padding: 1.6em 0.9em;
  display: flex;
}

.tile {
  margin: 0 0.9em;
  height: 6.5em;
  width: 17em;
  background: #4c56c0;
  color: #ffffff;
  border-radius: 1em;
  vertical-align: top;
}

.tile-green {
  background: #9dd6ab;
}

.text {
  font-weight: bold;
  padding: 1em 1em;
  text-align: left;
}

.name-cell {
  width: 12em;
}

.octocat {
  width: 110px;
}

.octocat-container {
  display: flex;
}

.octocat-text {
  font-size: 20px;
  width: 12em;
  text-align: center;
}
