body {
  /* background: white; */
  background: #f5f7fb;
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  color: black;
  padding-left: 280px;
}

.right {
  position: relative;
}

.left {
  background: #4c56c0;
  height: 100%;
  width: 280px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  outline: none;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  color: #f5f7fb;
}
