ul {
    list-style: none;
    padding: 0.7em 0 0 0;
    margin: 0;
}

ul li {
    margin: 0;
    padding: 0;
    height: 48px;
    background-repeat: no-repeat;
    background-position: left 15px center;
    background-size: auto 20px;
    transition: all 0.15s linear;
    cursor: pointer;
    text-transform: uppercase;
}

ul li a {
    display: block;
    margin-left: 0.6em;
    padding: 0.9em 1em 0.9em 1.7em;
}

ul li a svg {
    width: 28px;
}

ul li a span {
    padding-left: 15px;
}

ul li a:link,
ul li a:visited,
ul li a:hover,
ul li a:active {
    text-decoration: none;
    color: #ffffff;
}

ul li a.active {
    text-decoration: none;
    background-color: #f5f7fb;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    color: #4c56c0;
}

ul li:focus {
    outline: none;
}

.footer {
    padding-bottom: 2em;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}